/* Navbar */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto';
} 

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 5%;
    box-sizing: border-box;
    background: gray;
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav ul li a {
    line-height: 80px;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 5px;
}

nav ul li a:hover {
    animation-name: anim;
    animation-duration: 0.5s;
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}

.current-page {
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}

/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 223px;
    z-index: 1;
    top: 100%;
    left: 0;
    border-radius: 15px;
    border-bottom: 1px solid #fff;
    animation-name: dropdownAnim;
    animation-duration: 0.5s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    padding: 5px 10px;
    text-align: left;
    margin: 5px 0;
}

@media (max-width: 768px) {
    nav .logo {
        font-size: 20px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background: gray;
    }

    nav ul.show {
        display: flex;
    }

    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav ul li a {
        display: block;
        padding: 10px 20px;
        margin: 0;
        border-bottom: 1px solid #fff;
    }

    .dropdown-content {
        top: 0;
    }

    .dropdown:hover .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content.show {
        display: block;
    }
}

/* Other */
section {
    width: 100%;
    height: 750px;
    background: url(assets/images/Coffe-1.jpg);
    background-size: cover;
    background-position: center;
}

@keyframes anim{
    from {background-color: gray;} 
    to {background-color: lightgray;}
}

@keyframes dropdownAnim {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
  }
