body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
}

.navbar {
    background-color: orange;
    overflow: hidden;
    text-align: center;
}

.navbar a {
    display: inline-block;
    color: white;
    padding: 24px 26px;
    text-decoration: none;
}

.navbar a.login, .navbar a.signup {
    float: right;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.mainFlex {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh; /* Adjust the height as needed */
}

.slideshow {
    display: flex;
    overflow: hidden;
    width: 50%; /* Adjust the width as needed */
    position: relative;
}

.slide {
    flex: 1;
    min-width: 100%;
    transition: 0.5s;
}

.img {
    width: 100%;
    height: auto;
}

.BeanBrewHeading {
    text-align: center;
}